<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Courses</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Id course</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Hours</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course : ${courses}">
				<td><span th:text="${course.id}">Id course</span></td>
				<td><span th:text="${course.name}">Name</span></td>
				<td><span th:text="${course.description}">Description</span></td>
				<td><span th:text="${course.price}">Price</span></td>
				<td><span th:text="${course.hours}">Hours</span></td>
			</tr>
		</tbody>
	</table>

	<form action="#" th:action="@{/courses/actioncourse}"
		th:object="${course}" method="post">
		<p>Id: <input type="text" th:field="*{id}" /></p>
		<p>Name: <input type="text" th:field="*{name}" /></p>
		<p>Description: <input type="text" th:field="*{description}" /></p>
		<p>Price: <input type="number" th:field="*{price}" /></p>
		<p>Hours: <input type="number" th:field="*{hours}" /></p>
		<button class="btn btn-info col-sm p-1" type="submit" name="action" value="obtain">Get course </button>
		<button class="btn btn-danger col-sm p-1" type="submit" name="action" value="delete">Delete</button>
		<button class="btn btn-warning col p-1" type="submit" name="action" value="update">Update</button>
		<p><input type="submit" value="submit" /></p>
	</form>
</body>
</html>